aiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
async-timeout==4.0.2
attrs==23.1.0
audioplayer==0.6
av==12.3.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
coloredlogs==15.0.1
ctranslate2==4.7.2
distro==1.9.0
easyprocess==1.1
entrypoint2==1.1
faster-whisper==1.0.2
ffmpeg-python==0.2.0
filelock==3.12.0
flatbuffers==23.5.26
frozenlist==1.3.3
fsspec==2023.12.2
future==0.18.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.20.1
humanfriendly==10.0
idna==3.4
jinja2==3.1.2
llvmlite==0.40.0
markupsafe==2.1.2
more-itertools==9.1.0
mouseinfo==0.1.3
mpmath==1.3.0
mss==9.0.1
multidict==6.0.4
networkx==3.1
numba==0.57.0
numpy==1.26.4
onnxruntime==1.16.3
openai==1.28.0
packaging==23.2
pillow==9.5.0
protobuf==4.25.1
pycparser==2.21
pydantic-core==2.18.2
pydantic==2.7.1
pygetwindow==0.0.9
pymsgbox==1.0.9
pynput==1.7.6
pyperclip==1.8.2
pyqt5-qt5==5.15.2
pyqt5-sip==12.13.0
pyqt5==5.15.10
pyreadline3==3.4.1
pyrect==0.2.0
pyscreenshot==3.1
pyscreeze==0.1.29
python-dotenv==1.0.0
pytweening==1.0.7
pyyaml==6.0.3
regex==2023.5.5
requests==2.31.0
setuptools==69.5.1
six==1.16.0
sniffio==1.3.1
sounddevice==0.4.6
soundfile==0.12.1
sympy==1.12
tiktoken==0.3.1
tokenizers==0.15.0
tqdm==4.65.0
typing-extensions==4.11.0
urllib3==2.0.2
webrtcvad-wheels==2.0.11.post1
yarl==1.9.2
comtypes==1.4.16; sys_platform == 'win32'
psutil==7.2.2; sys_platform == 'win32'
pycaw==20251023; sys_platform == 'win32'
